.btn {
    font-size: 0.875rem;
    font-weight: 500;
    color: #666;
    padding: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.25rem;
}

.btn:hover {
    color: #c66;
}

.active-btn {
    color: #000;
    border-bottom: 1px solid #000;
}

.cart-btn {
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.cart-btn:hover {
    background: #c66;
}

.card-wrapper {
    grid-template-columns: auto;
    grid-template-rows: 300px 1fr;
}


.card-wrapper:hover .cart-btn{
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-in-out;
}

 @media (min-width: 350px) {
    .card-wrapper {
        grid-template-columns: 300px;
        grid-template-rows: 300px 1fr;
    }
 }


@media (min-width: 425px) {
    .btn-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .card-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 360px 1fr;
    }

}