.btn {
    font-size: 0.875rem;
    font-weight: 500;
    color: #666;
    padding: 0.25rem;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    letter-spacing: 0.1em;
    line-height: 1.25rem;
}

.cart-btn {
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.cart-btn:hover {
    background: #c66;
}

.card-wrapper:hover .cart-btn{
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms ease-in-out;
}


@media (min-width: 425px) {
    .btn-wrapper {
        flex-direction: row;
    }
}