.btn {
    font-size: 0.875rem;
    font-weight: 500;
    color: #666;
    padding: 0.25rem;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    letter-spacing: 0.1em;
    line-height: 1.25rem;
}


@media (min-width: 425px) {
    .btn-wrapper {
        flex-direction: row;
    }
}