@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
}

@layer components {
  .input {
    @apply w-full text-sm p-4 border border-[rgb(207,207,207)] rounded-lg;
  }
  .input-error{
    @apply border-[rgb(236,68,68)] outline outline-1 focus-visible:outline-[rgb(236,68,68)]
  }
}

#nprogress .bar {
  background:  #e33f3f !important;
  height: 4px !important;
}

.star-rating svg {
  scale: 0.5;
}
